<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add a new user profile</title>
</head>
<body>
<div class="container">
<script>

  function checkForm(form)
  {
    // validation fails if the input is blank
    if(form.userName.value == "") {
      alert("Error: User Name is empty!");
      form.userName.focus();
      return false;
    }
    if(form.fName.value == "") {
        alert("Error: First Name is empty!");
        form.fName.focus();
        return false;
      }
    if(form.lName.value == "") {
        alert("Error: Last Name is empty!");
        form.lName.focus();
        return false;
      }
    if(form.streetAddress.value == "") {
        alert("Error: Street Address is empty!");
        form.streetAddress.focus();
        return false;
      }
    if(form.state.value == "") {
        alert("Error: State is empty!");
        form.state.focus();
        return false;
      }
    if(form.zipCode.value == "") {
        alert("Error: Zip Code is empty!");
        form.zipCode.focus();
        return false;
      }
    if(form.phoneNum.value == "") {
        alert("Error: Phone Number is empty!");
        form.yearPub.focus();
        return false;
    }
    
    // regular expression to match only alphanumeric characters and spaces
    var re = /^[\w ]+$/;

    // validation fails if the input doesn't match our regular expression


    if(!re.test(form.state.value)) {
        alert("Error: State contains invalid characters!");
        form.state.focus();
  	return false;
      }

    if(!re.test(form.zipCode.value)) {
        alert("Error: Zip Code contains invalid characters!");
        form.illustrator.focus();
  	return false;
      }
    // validation was successful
    return true;
  }
    
</script>
<form 
th:object="${newUser}" th:action="@{/updateUser/{id}(id=${newUser.id})}" method='POST' onsubmit = "return checkForm(this);">
User Name: <input name = "userName" size="20" th:field="*{userName}"><br />
First Name: <input name = "fName" size="20" th:field="*{fName}"><br />
Last Name: <input name = "lName" size="20" th:field="*{lName}"><br />
Street Address: <input name = "streetAddress"size="20" th:field="*{streetAddress}"><br />
City: <input name="city" size="20" th:field="*{city}"><br />  
State: <input name = "state" size="2" th:field="*{state}"><br /> 
zipCode: <input name = "zipCode" size="5" th:field="*{zipCode}"><br />
Phone Number: <input name="phoneNum" size="10" th:field="*{phoneNum}"><br />
<input type = "submit" value="Add User">
</form> <br />
<a href="../viewAll">View all Users</a>
</div>
</body>
</html>